/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color:black;
    color: #ededed;
}

/* Header Styles */
.header {
    position: fixed;
    width: 87%;
    top: 0;
    left: 0;
    padding: 20px 10%;
    background: rgba(247, 109, 109, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 25px;
    transition: .3s;
}

.navbar a:hover {
    color: cyan;
}

/* Section Styles */
section {
    padding: 100px 10%;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.home h1 {
    font-size: 50px;
    color: cyan;
}

.home h3 {
    font-size: 30px;
}

.home p {
    font-size: 18px;
    max-width: 600px;
}

/* Social Links */
.social-links a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid cyan;
    border-radius: 50%;
    font-size: 20px;
    color: cyan;
    text-decoration: none;
    margin: 15px;
    transition: .3s;
}

.social-links a:hover {
    background: cyan;
    color: #1a1919;
    box-shadow: 0 0 20px cyan;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 12px 28px;
    background: cyan;
    border-radius: 40px;
    font-size: 16px;
    color: #1a1919;
    text-decoration: none;
    font-weight: 600;
    margin-top: 20px;
}

.btn:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan;
}

/* Skills & Projects */
.skills ul,
.projects {
    list-style: none;
    padding: 0;
    text-align: center;
}

.skills li {
    font-size: 20px;
    margin: 10px 0;
}

.project-card {
    background: #2a2a2a;
    padding: 15px;
    margin: 10px;
    display: inline-block;
    border-radius: 10px;
}

/* Contact */
.contact p {
    font-size: 18px;
    text-align: center;
}

.profile-img {
    display: flex;
    margin: 20px auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid white;
    
}